In [1]:
import pandas as pd
pd.set_option("display.max_rows", 5)
reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
print("Setup complete.")
reviews.head()

Setup complete.

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [2]:
#실습1

In [5]:
median_points = reviews['points'].mean()
median_points

88.44713820775404

In [ ]:
#실습2

In [11]:
countries = reviews.country.unique()
countries

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

In [17]:
#실습3

In [13]:
reviews_per_country = reviews['country'].value_counts()
reviews_per_country

US        54504
France    22093
          ...
China         1
Egypt         1
Name: country, Length: 43, dtype: int64

In [ ]:
#실습4

In [16]:
centered_price = reviews['price'] - reviews['price'].mean()
centered_price

0               NaN
1        -20.363389
            ...
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

In [18]:
#실습5

In [27]:
bargain = (reviews.points / reviews.price).idxmax()
bargain_wine = reviews.loc[bargain, 'title']

In [35]:
bargain_wine

'Bandit NV Merlot (California)'

In [28]:
#실습6

In [50]:
a = reviews['description'].map(lambda desc: "tropical").value_counts()
b = reviews['description'].map(lambda desc: "fruity").value_counts()
descriptor_counts = pd.Series([a,b], index = ['tropical', 'fruity'])
descriptor_counts

tropical    tropical    129971
Name: description, dtype: i...
fruity       fruity    129971
Name: description, dtype: int64
dtype: object

In [39]:
#실습7

In [42]:
def stars(row) :
    if row.country == 'Canada':
        return 3
    elif row.points >= 95:
        return 3
    elif row.points >= 85:
        return 2
    else:
        return 1
star_ratings = reviews.apply(stars, axis='columns')

In [52]:
# 4.Grouping & Sorting

In [53]:
#실습1

In [58]:
reviews_written = reviews.groupby('taster_twitter_handle').size()
reviews_written

taster_twitter_handle
@AnneInVino        3685
@JoeCz             5147
                   ...
@winewchristina       6
@worldwineguys     1005
Length: 15, dtype: int64

In [59]:
#실습2

In [62]:
best_rating_per_price = reviews.groupby(['price','points']).max()\
                               .sort_index() 
best_rating_per_price

C:\Users\woni7\AppData\Local\Temp\ipykernel_7668\2135540276.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  best_rating_per_price = reviews.groupby(['price','points']).max()\

                                                     description  \
price  points
4.0    82      Tropical fruit and citrus aromas aren't bad, b...
       83      Sweet and fruity, this canned wine feels soft ...
...                                                          ...
2500.0 96      The wine is a velvet glove in an iron fist. Th...
3300.0 88      This ripe wine shows plenty of blackberry frui...

                                                           title  \
price  points
4.0    82      Felix Solis 2012 Flirty Bird White (Vino de la...
       83        Pam's Cuties NV Unoaked Chardonnay (California)
...                                                          ...
2500.0 96         Domaine du Comte Liger-Belair 2010  La Romanée
3300.0 88                   Château les Ormes Sorbet 2013  Médoc

                                      winery
price  points
4.0    82                        Felix Solis
       83                       Pam's Cuties
...                                      ...
2500.0 96      Domaine du Comte Liger-Belair
3300.0 88           Château les Ormes Sorbet

[2313 rows x 3 columns]

In [63]:
#실습3

In [71]:
price_extremes = reviews.groupby('variety')\
                        .price.agg([min, max])
price_extremes

              min   max
variety
Abouriou     15.0  75.0
Agiorgitiko  10.0  66.0
...           ...   ...
Çalkarası    19.0  19.0
Žilavka      15.0  15.0

[707 rows x 2 columns]

In [72]:
#실습4

In [75]:
price_copy = price_extremes.copy()
sorted_varieties = price_copy.sort_values(by =['min','max'], ascending = False )

In [76]:
#실습5

In [83]:
mean_re = reviews['points'].mean()
reviewer_mean_ratings = reviews.groupby('taster_name')\
                               .points.agg('mean') 
reviewer_mean_ratings

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
                        ...
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, Length: 19, dtype: float64

In [84]:
#실습6

In [86]:
a = reviews.groupby(['country','variety'])\
           .size().sort_values(ascending = False)
a

country  variety
US       Pinot Noir            9885
         Cabernet Sauvignon    7315
                               ...
Mexico   Rosado                   1
Uruguay  White Blend              1
Length: 1612, dtype: int64

In [90]:
# 5.Data Types & Missing Values

In [91]:
# 실습1

In [93]:
reviews['points'].dtypes

dtype('int64')

In [94]:
#실습2

In [96]:
reviews['points'].astype('str')

0         87
1         87
          ..
129969    90
129970    90
Name: points, Length: 129971, dtype: object

In [97]:
#실습3

In [100]:
reviews['price'].isna().sum()

8996

In [101]:
#실습4

In [106]:
reviews['region_1'].fillna('Unknown').value_counts().sort_values(ascending = False)

Unknown        21247
Napa Valley     4480
               ...
Geelong            1
Paestum            1
Name: region_1, Length: 1230, dtype: int64

In [107]:
# 6.Renaming & Combining

In [108]:
#실습1

In [117]:
renamed = reviews.rename(columns=dict(region_1='region', \
                                      region_2='locale'))

In [118]:
#실습2

In [120]:
reviews.rename_axis('wine',axis = 'rows')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
wine,,,,,,,,,,,,,
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit